body {
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    flex-direction: column;
}

h1 {
    color: #E0AA3E;
}

#size-selector {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

#container {
    height: 700px;
    width: 700px;
    display: grid;
    border: 60px solid #F80012;
    border-radius: 6%;
}
